services:
  frontend:
    build:
      context: ./todo-frontend
      dockerfile: dev.Dockerfile
    working_dir: /app
    volumes:
      - ./todo-frontend:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
  backend:
    build:
      context: ./todo-backend
      dockerfile: dev.Dockerfile
    working_dir: /app
    volumes:
      - ./todo-backend:/app
    environment:
      - REDIS_URL=redis://redis:6379
      - MONGO_URL=mongodb://root:example@mongo:27017/the_database?authSource=admin
    depends_on:
      - mongo
      - redis

  nginx:
    image: nginx:1.20.1
    depends_on:
      - frontend
      - backend
    ports:
      - 8080:80
    container_name: reverse-proxy
    volumes:
      - ./nginx.dev.conf:/etc/nginx/nginx.conf:ro
  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: the_database

    volumes: 
      - ./todo-backend/mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
  redis:
    image: redis
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  redis-data: