services:
  frontend:
    build:
      context: ./todo-frontend
      dockerfile: Dockerfile
      args:
        VITE_BACKEND_URL: /api
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
  backend:
    build:
      context: ./todo-backend
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - REDIS_URL=redis://redis:6379
      - MONGO_URL=mongodb://root:example@mongo:27017/the_database?authSource=admin
    depends_on:
      - mongo
      - redis

  nginx:
    image: nginx:1.20.1
    container_name: reverse-proxy
    depends_on:
      - frontend
      - backend
    ports:
      - 8080:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: the_database
    volumes:
      - mongo-data:/data/db
      - ./todo-backend/mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js

  redis:
    image: redis
    restart: always
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  redis-data: